<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h3>Change your Effin' Password here</h3>
  <form method="POST" action="http://localhost/api/v3/web-admin/auth/forgot-password/change-password/{{token}}">
    <input type="text" id="password" name="newPassword">
    <button type="submit">CHANGE</button>
    <p>{{token}}</p>
  </form>
</body>
</html>